*.fbx filter=lfs diff=lfs merge=lfs -text
*.meta filter=lfs diff=lfs merge=lfs -text
*.asset filter=lfs diff=lfs merge=lfs -text
*.unity filter=lfs diff=lfs merge=lfs -text
Unity/Assets filter=lfs diff=lfs merge=lfs -text
*.meta
*.meta/
*.asset
*.asset/
*.unity
*.unity/
*.mat filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.csproj filter=lfs diff=lfs merge=lfs -text
*.cs.meta filter=lfs diff=lfs merge=lfs -text
*.md.meta filter=lfs diff=lfs merge=lfs -text
*.png.meta filter=lfs diff=lfs merge=lfs -text
*.cs filter=lfs diff=lfs merge=lfs -text
*.mat.meta filter=lfs diff=lfs merge=lfs -text
*.prefab.meta filter=lfs diff=lfs merge=lfs -text
/Unity/Library filter=lfs diff=lfs merge=lfs -text
Unity/Library filter=lfs diff=lfs merge=lfs -text
/Unity/Assets filter=lfs diff=lfs merge=lfs -text
